/* Body Styling */
body {
    font-family: 'Abel', sans-serif;
    background-image: url("../assets/images/floral.jpg");
  }
  
  /* Nav Bar Styling */
.navbar {
    background-color: rgb(245,94,97);
    height: 60px;
}
.navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 35px;
    padding-top: 20px;
}
.nav-link {
    color: white;
    font-size: 20px;
}
.todays-date {
    color: white;
    font-weight: bold;
    font-size: 35px;
    float: right;
}
/* Planner Page Styling */
.welcome-div {
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-top: 25px;
    text-align: center;
    padding-top: 5px;
}