/* Body Styling */
html body {
    font-family: 'Abel', sans-serif;
    background-image: url("../assets/images/floral.jpg");
    background-position: center;
    height: 100%;
    margin: 0;
  }
  
  /* Nav Bar Styling */
.navbar {
    background-color: rgb(245,94,97);
    height: 60px;
}
.navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 35px;
    padding-top: 20px;
}
.nav-link {
    color: white;
    font-size: 20px;
}
.todays-date {
    color: white;
    font-weight: bold;
    font-size: 35px;
    float: right;
}

/* Planner Page Styling */
.welcome-div {
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-top: 25px;
    text-align: center;
    padding: 15px;
}

/* Weather */
.weather-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}

.weather-div {
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-top: 25px;
    text-align: center;
    padding: 15px;
}

.basic-weather-info {
    margin-bottom: 15px;
}

.city-name {
    margin-bottom: 5px;
    font-size: 20px;
}

.current-img {
    height: 70px;
    width: 70px;
}

.current-temp, .current-Humidity, .current-wind-speed, .current-uv-index {
    background-color: lightgray;
    border: 1px solid rgb(245,94,97);
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
}

.weather-btn {
    text-align: center;
    width: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* To Do */
.task {
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-top: 25px;
    text-align: center;
    padding: 20px;
}
#todo-title {
    font-size: 30px;
    text-align: center;
}

.weather-btn, .task-submit, .submit, .delete, .complete {
    background-color: rgb(245,94,97);
    color: white;
    border: 1px solid lightgray;
}

.list-group-item > button.delete,
.list-group-item > button.complete {
  border-radius: 5px;
  float: right;
  height: 30px;
  margin-left: 5px;
}

.fa-minus-circle:hover {
    color: black;
}
.fa-check-circle:hover {
    color: black;
}

/* Water */
input.new-item:focus {
    outline: none;
  }

.water {
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-top: 25px;
    text-align: center;
    padding: 20px;
}

.water-title {
    font-size: 30px;
    text-align: center;
}

.submit {
    text-align: center;
    width: 25%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.list-group-item > button.destroy {
    float: right;
    height: 30px;
    margin-left: 5px;
    background-color: none;
    color: rgb(245,94,97);
    padding-top: 0px;
}

.remove {
    display: none;
}

.progress {
    height: 30px;
  }


  /* Budget */
  .budget-div {
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-top: 25px;
    text-align: center;
    padding: 15px;
    margin-bottom: 25px;
  }

  .budget__title{
    font-size: 30px;
    text-align: center;
  }

  .budget__value{
      font-size: 25px;
      text-align: center;
      letter-spacing: 2px;
      font-weight: 300;
  }

  .budget__income{
      font-size: 20px;
      text-transform: uppercase;
      background-color: rgb(209,241,217);
      padding: 3px;
      margin: 6px;
  }

  .budget__expenses {
    font-size: 20px;
    text-transform: uppercase;
    background-color: rgb(255,115,133);
    padding: 3px;
    margin: 6px;
  }

.budget__income--text,
.budget__expenses--text {
    float: left;
    font-size: 13px;
    margin-top: 2px;

}

.budget__income--value,
.budget__expenses--value {
    letter-spacing: 1px;
    float: right;
}

.income, .expenses {
    float: left;
    width: 300px;
    margin-right: 0px;
    margin-left: 10px; 
}

.add__container {
    margin: 6px;
}

.icome__title { 
    color:rgb(124,170,128);
    font-size: 20px;
    margin: 3px;
}

.expenses__title {
    color:rgb(245,94,97);
    font-size: 20px;
    margin: 3px;
}

.item {
    padding: 5px;
    border-bottom: 1px solid;
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

.item__description {
    float: left;
}

.item__value {
    text-align: right;
    transition: transform 0.3s;
}

.income .item__value,
.incomeItemDelete, 
.expenseItemDelete {
    color: #28B9B5;
}

.expenses .item__value{
    color: #FF5049;
}

.incomeItemDelete, 
.expenseItemDelete {
    font-size: 10px;
    cursor: pointer;
    line-height: 1;
    background: none;
    border: none;
    float: right;
    outline: none; 
    transform: translateY(2px);
    display: block;
}

.item:hover .item__value { transform: translateX(-20px); }

  /* Footer */
  .footer {
    height: 50px;
    margin-top: -50px;
    text-align: center;
    color: white;
    background-color: rgb(245,94,97);
    padding-top: 15px;
  }

  .content-inside {
    padding: 20px;
    padding-bottom: 50px;
  }

  .container {
    min-height: 100%;
  }
  
/* .container {
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-top: 25px;
    text-align: center;
    padding-top: 5px;

} */